* { font-family: 'American Typewriter', 'Yuanti SC', tahoma; }
li, li * { font-family: monospace, tahoma; }

h1 { font-weight: 200; background: #66aadd; margin: 0; padding: .5em 1em; color: white; }
h1 sub { display: block; margin-top: .5em; font-size: 60%; }

h2.status-code { color: red; font-family: 'Times New Roman', tahoma; font-size: 800%; margin: 0; }

a { text-decoration: none; }
a:hover { font-style:italic; color: red; }

li.object > .datetime { float: right; color: gray; }
li.object:hover > .datetime { color: black; }

li > label { display: block; float: left; width: 120px; color: gray; font-style: italic; }

hr { border: none; height: 1px; background: silver; }

