* { font-family: 'American Typewriter', 'Yuanti SC', tahoma; }
li, li * { font-family: monospace, tahoma; }

h1 { font-weight: 200; background: #66aadd; margin: 0; padding: .5em 20pt; color: white; }
h1 sub { display: block; margin-top: .5em; font-size: 60%; }

h2 { font-weight: 100; margin: 0; padding: .5em 20pt; color: #66aadd; }
h2.status-code { color: red; font-family: 'Times New Roman', tahoma; font-size: 800%; margin: 0; }

a { text-decoration: none; }
a:hover { font-style:italic; color: red; }

.tag { font-family: tahoma; font-size: 9pt; padding: 1px 2px; border-radius: 3px; background-color: green; color: white; }
.tag:hover { font-style: normal; color: white; background-color: red; }

li.object > .datetime, li.container > .stat { float: right; color: gray; }
li.object:hover > .datetime, li.container:hover > .stat { color: black; }

li.container .objects, li.container .size { display: inline-block; text-align: right; }
li.container .objects { width: 10em; }
li.container .size { width: 6em; }

li > label { display: block; float: left; min-width: 130px; margin-right: 10px; color: gray; font-style: italic; }

hr { border: none; height: 1px; background: silver; }
