<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Containers - ${agent:@title}</title>
    <link rel="stylesheet" href="${agent:@public}css/index.css" />
</head>
<body>
    <h1>${agent:@title}<sub>version ${agent:@version}</sub></h1>
    <ul>
        <li><label>EndPoint</label> ${meta:@endPoint}</li>
        <li><label>Username</label> ${meta:@username}</li>
    </ul>

    <hr/>
    Containers:

    <ul>
        ${item: <li class="container"><div class="stat"><span class="objects">@count O/F</span> <span class="size">@size</span></div><a href="@metaHref" class="tag">meta</a> <a href="@href">@text</a></li>}
    </ul>

    <hr/>
    Legends:
    <ul>
        <li>O/F = Object / File</li>
        <li>MB = MegaBytes</li>
    </ul>

</body>
</html>