<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Container - ${agent:@title}</title>
    <link rel="stylesheet" href="${agent:@public}css/index.css" />
</head>
<body>
    <h1>${agent:@title}<sub>version ${agent:@version}</sub></h1>
    <ul>
        <li><label>EndPoint</label> ${meta:@endPoint}</li>
        <li><label>Username</label> ${meta:@username}</li>
    </ul>

    <hr/>
    Location ${locations: &gt; <a href="@href">@text</a>}

    <h2>Basic Info</h2>
    <ul>
        ${containerInfo: <li><label>@name</label> @value</li>}
    </ul>
    
    <h2>User Defined Meta Info</h2>
    <ul>
        ${containerMeta: <li><label>@name</label> @value</li>}
    </ul>
</body>
</html>